In [12]:
import pandas as pd
import numpy as np

In [13]:
Survey_data = pd.read_csv('Alcohol Consumption Survey.csv')
Cleaned_data = pd.read_csv('CleanData.csv')

In [14]:
#assign integers to values
Survey_data['school_num'] = 2
Survey_data = Survey_data.rename(columns={'What is your age?':'age'})
Survey_data['sex_num'] = Survey_data['What is your gender?'].map({'Female':0, 'Male':1})
Survey_data['address_num'] = Survey_data['What area do you live in?'].map({'Urban':0, 'Suburban':0, 'Rural':1})
Survey_data['famsize_num'] = Survey_data['How large is the family you live with?'].map({'Less than or equal to three':0, 'Do not live with family':0 ,'Greater than three':1})
Survey_data['reason_num'] = Survey_data['Why did you choose the University of Utah?'].map({'Close to home':0 ,'School Reputation':1 ,'Program Preference':2, 'Other':3})
Survey_data['traveltime'] = Survey_data['What is your home to school commute time?'].map({'Less than 15 min':1, '15 min to 30 min':2, '30 min to 1 hour':3, 'Greater than 1 hour':4})
Survey_data['studytime'] = Survey_data['How many hours do you study a week for all of your classes?'].map({'Less than 2 hours':1 ,'2 to 5 hours':2 ,'5 to 10 hours':3, 'Greater than 10 hours':4})
Survey_data['failures'] = Survey_data['How many classes have you failed in the past during your time at the University of Utah?'].map({'0':0, 'None':0, 'none':0 ,'1':1, '2':2, '3':3, '4':4, '5':4})
Survey_data['famsup_num'] = Survey_data['Do you receive educational support from your family?'].map({'Yes':0, 'No':1})
Survey_data['internet_num'] = Survey_data['Do you have internet access at home?'].map({'Yes':0, 'No':1})
Survey_data['romantic_num'] = Survey_data['Are you in a romantic relationship?'].map({'Yes':0, 'No':1})
Survey_data['freetime'] = Survey_data['How much free time do you have outside of school?'].map({'1- very low amount':1 ,'2 - low amount':2, '3 - some amount':3, '4 - high amount':4, '5 - very high amount':5})
Survey_data['Dalc'] = Survey_data['How much alcohol do you consume on an average weekday?'].map({'1 - very low amount':1 ,'2 - low amount':2, '3 - some amount':3, '4 - high amount':4, '5 - very high amount':5})
Survey_data['Walc'] = Survey_data['How much alcohol do you consume on an average weekend?'].map({'1 - very low amount':1 ,'2 - low amount':2, '3 - some amount':3, '4 - high amount':4, '5 - very high amount':5})
Survey_data['health'] = Survey_data['How is your current health?'].map({'1 - very bad':1, '2 - bad':2, '3 - okay':3, '4 - good':4, '5 - very good':5})
Survey_data['religious'] = Survey_data['Are you religious?'].map({'Yes':0, 'No':1})

#should tutoring data be assigned to 'paid'?
Survey_data['paid_num'] = Survey_data['Do you receive tutoring for any of your classes?'].map({'Yes':0, 'No':1})

In [15]:
#drop nan
Survey_data = Survey_data.dropna()

Survey_data.describe()

,age,school_num,sex_num,address_num,famsize_num,reason_num,traveltime,studytime,failures,famsup_num,internet_num,romantic_num,freetime,Dalc,Walc,health,religious,paid_num
count,48.000000,48.0,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.0,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000,48.000000
mean,25.395833,2.0,0.708333,0.020833,0.250000,1.666667,1.895833,3.604167,0.645833,0.708333,0.0,0.458333,2.166667,1.270833,2.000000,4.229167,0.541667,0.979167
std,5.844581,0.0,0.459340,0.144338,0.437595,1.208715,0.880995,0.706793,1.193771,0.459340,0.0,0.503534,0.996448,0.676020,1.237705,0.721688,0.503534,0.144338
min,19.000000,2.0,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,1.000000,3.000000,0.000000,0.000000
25%,22.000000,2.0,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,0.0,0.000000,1.000000,1.000000,1.000000,4.000000,0.000000,1.000000
50%,23.500000,2.0,1.000000,0.000000,0.000000,2.000000,2.000000,4.000000,0.000000,1.000000,0.0,0.000000,2.000000,1.000000,1.000000,4.000000,1.000000,1.000000
75%,26.250000,2.0,1.000000,0.000000,0.250000,3.000000,3.000000,4.000000,1.000000,1.000000,0.0,1.000000,3.000000,1.000000,3.000000,5.000000,1.000000,1.000000
max,47.000000,2.0,1.000000,1.000000,1.000000,3.000000,4.000000,4.000000,4.000000,1.000000,0.0,1.000000,5.000000,4.000000,5.000000,5.000000,1.000000,1.000000

In [16]:
Survey_data['famsize_num'].value_counts()

0    36
1    12
Name: famsize_num, dtype: int64

In [17]:
Survey_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48 entries, 0 to 48
Data columns (total 37 columns):
Timestamp                                                                                   48 non-null object
Are you a student at the University of Utah?                                                48 non-null object
What is your gender?                                                                        48 non-null object
age                                                                                         48 non-null float64
What area do you live in?                                                                   48 non-null object
How large is the family you live with?                                                      48 non-null object
Why did you choose the University of Utah?                                                  48 non-null object
What is your home to school commute time?                                                   48 non-null object
How many hours do you study a week for all of your classes?                                 48 non-null object
How many classes have you failed in the past during your time at the University of Utah?    48 non-null object
Do you receive tutoring for any of your classes?                                            48 non-null object
Do you receive educational support from your family?                                        48 non-null object
Are you taking any extra, paid classes for any of your classes?                             48 non-null object
Do you have internet access at home?                                                        48 non-null object
Are you in a romantic relationship?                                                         48 non-null object
How much free time do you have outside of school?                                           48 non-null object
How much alcohol do you consume on an average weekday?                                      48 non-null object
How much alcohol do you consume on an average weekend?                                      48 non-null object
How is your current health?                                                                 48 non-null object
Are you religious?                                                                          48 non-null object
school_num                                                                                  48 non-null int64
sex_num                                                                                     48 non-null int64
address_num                                                                                 48 non-null int64
famsize_num                                                                                 48 non-null int64
reason_num                                                                                  48 non-null int64
traveltime                                                                                  48 non-null int64
studytime                                                                                   48 non-null int64
failures                                                                                    48 non-null int64
famsup_num                                                                                  48 non-null int64
internet_num                                                                                48 non-null int64
romantic_num                                                                                48 non-null int64
freetime                                                                                    48 non-null int64
Dalc                                                                                        48 non-null int64
Walc                                                                                        48 non-null int64
health                                                                                      48 non-null float64
religious                                                                                   48 non-null int64
paid_num                                                                                    48 non-null int64
dtypes: float64(2), int64(16), object(19)
memory usage: 14.2+ KB

In [18]:
Survey_data.to_csv('SurveyData.csv', sep=',', na_rep=np.nan)